[tool.black]
line-length = 100
exclude = '''
/(
      \.eggs
    | \.git
    | \.mypy_cache
    | \.tox
    | \.venv
    | \.pytype
    | _build
    | buck-out
    | build
    | dist
)/
| docs/conf.py
'''

[tool.isort]
dont_skip = "*/**/__init__.py"
known_third_party = [
    'dataproperty',
    'logbook',
    'mbstrdecoder',
    'pandas',
    'pathvalidate',
    'pytablereader',
    'pytest',
    'six',
    'sphinx_rtd_theme',
    'sqliteschema',
    'tabledata',
    'typepy',
    'xlsxwriter',
]
include_trailing_comma = true
line_length = 100
lines_after_imports = 2
multi_line_output = 3
skip_glob = [
    '*/.eggs/*',
    '*/.pytype/*',
    '*/.tox/*',
]

[tool.coverage.run]
source = ['simplesqlite']
branch = true

[tool.coverage.report]
show_missing = true
precision = 1
exclude_lines = [
    'except ImportError',
    'raise NotImplementedError',
    'pass',
    'ABCmeta',
    'abstractmethod',
    'abstractproperty',
    'abstractclassmethod',
    'warnings.warn',
]
